.sc-main {
    font-size: 1.1em !important;
    background: #FFF !important;
}

.article-title {
    font-size: 1.3em;
    font-weight: bold;
}
.article-byline {
    color: #ccc;
}

.article-body {
    background: #fff;
}

.item-more {
    background: #62aee1;
    color: #fff;
    font-weight: bold !important;
    width: 70px;
    float: right;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
}