Welcome to my News App

{{#collection News.ArticleListView class="article-list" itemclass="article-item" }}
    <h1 class="item-title">{{content.title}}</h1>
    <p class="item-byline">{{content.author}} - {{content.publishedDate}}</p>
    <div class="item-description">
        {{content.description}}
    </div>
    {{#view News.MoreButtonView}}
        <div class="item-more">MORE...</div>
    {{/view}}
{{/collection}}